body{
    background-color:rgb(210, 167, 250);
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}

#about{
    font-size: 35px;
}

@media{
    #main{
        margin-left: 118px;
    }
}